* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: azure;
    height: 100%;
}

#bodyBox {
    height: 100vmax;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-help {
    background-color: rgb(255, 0, 85);
    border: none;
    border-radius: 12px;
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 32px;

    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

#pay4it_logo {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -100%);
}

#cards {
    position: absolute;
    top: 90%;
    left: 50%;
    
    transform: translate(-50%, 50%);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('/media/start_bg.png') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display: none;
    }
  }